@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Anti-Print Security Protection */
@media print {
  body {
    display: none !important;
  }
}

/* Hide scrollbars utility */
.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
.no-scrollbar {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}